html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dominantColor) !important;
}

.navbar {
    background-color:var(--secondaryColor) !important; ;
}

.nav-link {
    font-size: 20px !important;
    color: #ffffff !important;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.footer-row {
    background-color: var(--dominantColor) !important;
    padding-top 35px;
    padding-bottom: 35 px;
}

.footer-row a {
    color: #ffffff; 
    text-decoration: none;
}

.fa-social-media, .fa-social-media a {
    font-size: 25px !important;
    padding-left: 12px;
    padding-right: 12px;
}

.top-logo {
    height: auto;
    font-weight: bolder;
    color: /* var(--dominantColor) !important;
    font-size: 55px;
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: #ffffff;
    }

    .material-symbols-outlined, .material-symbols-outlined a {
        font-size: 60 px;
        color: var(--dominantColor) !important;
        position: relative;
        top: 0px; 
        text-deocation: none;
    }