
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'global.css';
@import 'main.css';

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 35px;
    color: #ffffff;
}

.fa-row-icon {
    font-size: 70px;
    color: #ffffff;
}

.fa-row-icon:hover {
transform: scale(1.1);
}

.first-paragraph-div {
position: relative;
background-color: #ffffff;
color:#000000;
font-weight: normal;
font-size 16px;
padding: 20px;
height: auto;

}