@import 'global.css';
@import 'main.css';

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 35px;
    color: #ffffff;
}

.fa-row-icon {
    font-size: 70px;
    color: #ffffff;
}

.fa-row-icon:hover {
transform: scale(1.1);
}